{
  "printWidth": 80,
  "proseWrap": "always",
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "es5",
  "singleQuote": false,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^assets/(.*)$",
    "^@(.*)/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrderParserPlugins": ["typescript", "decorators-legacy", "jsx"],
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "semi": true
}
